/* Header.css */
.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: blue;
    padding: 15px;
    border-radius: 5px;
    color: white;
  }
  
  .header h2 {
    margin: 0;
    font-size: 24px;
    color: white;
  }
  
  .header h3 {
    margin: 5px 0 0;
    font-size: 18px;
    color: white;
  }
  